#branding-wrapper {
  padding-bottom: 0;
}

.branding {
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 55px;
  background-color: $primary-color;
  position: relative;

  @include breakpoint-up(mdPhone) {
    padding-bottom: 75px;
  }

  &__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 104px;
      left: 50%;
      transform: translateX(-50%);
      width: 368px;
      height: 368px;
      border: 1px solid rgba(223, 223, 212, 0.2);
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      height: 600px;
      border: 1px solid rgba(223, 223, 212, 0.2);
      border-radius: 50%;
    }
  }

  &__desc {
    padding-bottom: 55px;
    margin-bottom: 55px;

    .stage {
      color: $white-color;

      &::before {
        background-color: $white-color;
      }
    }

    .quote {
      margin-top: 1rem;
      color: $white-color;
      font-size: 1.25rem;
      font-weight: weight(medium);

      @include breakpoint-up(lgPhone) {
        font-size: 1.5rem;
      }
    }
  }

  &__tagline {
    color: $white-color;
    font-size: 2.5625rem;
    text-transform: capitalize;

    @include breakpoint-up(smPhone) {
      font-size: 2.875rem;
    }
    @include breakpoint-up(mdPhone) {
      font-size: 3.25rem;
    }
    @include breakpoint-up(lgPhone) {
      font-size: 3.75rem;
    }
  }
}
