#branding-wrapper {
  position: relative;
  padding-bottom: 0;
  background-color: $primary-color;

  @include breakpoint-up(tablet) {
    padding: 0;
  }

  .branding__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 104px;
      left: 50%;
      transform: translateX(-50%);
      width: 368px;
      height: 368px;
      border: 1px solid rgba(223, 223, 212, 0.2);
      border-radius: 50%;

      @include breakpoint-up(tablet) {
        width: 568px;
        height: 568px;
      }
      @include breakpoint-up(mdDesktop) {
        width: 1024px;
        height: 1024px;
        top: 10%;
        left: 80%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      height: 600px;
      border: 1px solid rgba(223, 223, 212, 0.2);
      border-radius: 50%;

      @include breakpoint-up(tablet) {
        width: 1000px;
        height: 1000px;
        top: -85px;
      }
      @include breakpoint-up(mdDesktop) {
        width: 1670px;
        height: 1670px;
        top: -20%;
        left: 80%;
      }
    }
  }
}

.branding {
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 55px;
  position: relative;

  @include breakpoint-up(mdPhone) {
    padding-bottom: 75px;
  }
  @include breakpoint-up(tablet) {
    padding-top: 75px;
  }
  @include breakpoint-up(mdDesktop) {
    padding-left: 0;
    padding-right: 0;
  }

  &__desc {
    padding-bottom: 55px;
    margin-bottom: 55px;

    @include breakpoint-up(smDesktop) {
      padding-bottom: 0;
      margin-bottom: 150px;
    }

    .stage {
      color: $white-color;

      &::before {
        background-color: $white-color;
      }
    }

    .quote {
      margin-top: 1rem;
      color: $white-color;
      font-size: 1.25rem;
      font-weight: weight(medium);

      @include breakpoint-up(lgPhone) {
        font-size: 1.5rem;
      }
      @include breakpoint-up(smDesktop) {
        width: 600px;
      }
    }
  }

  &__tagline {
    color: $white-color;
    font-size: 2.5625rem;
    text-transform: capitalize;

    @include breakpoint-up(smPhone) {
      font-size: 2.875rem;
    }
    @include breakpoint-up(mdPhone) {
      font-size: 3.25rem;
    }
    @include breakpoint-up(lgPhone) {
      font-size: 3.75rem;
    }
    @include breakpoint-up(smDesktop) {
      font-size: 96px;
      margin-bottom: 75px;
    }
  }
}
