.contact {
  @include breakpoint-up(mdDesktop) {
    padding-left: 0;
    padding-right: 0;
  }

  &__wrapper {
    .title {
      margin-top: 1rem;
      margin-bottom: 2rem;

      @include breakpoint-up(smDesktop) {
        font-size: 2rem;
      }
    }

    .getintouch {
      @include breakpoint-up(smDesktop) {
        max-width: 50%;
      }
      &__contact {
        display: grid;
        grid-template-columns: 0.2fr 1.5fr;

        @include breakpoint-up(smPhone) {
          grid-template-columns: 0.2fr 2fr;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &-icon,
        &-text {
          color: $dark-color;
          font-weight: weight(semi-bold);
          font-size: 0.85rem;

          @include breakpoint-up(smPhone) {
            font-size: 1rem;
          }
        }
      }
    }

    .stayconnected {
      padding-top: 40px;

      @include breakpoint-up(smDesktop) {
        padding-top: 55px;
        padding-bottom: 55px;
      }

      &__title {
        font-size: 1.25rem;
      }

      &__account {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0.5rem;
        align-items: center;
        margin-top: 2rem;

        @include breakpoint-up(smPhone) {
          grid-gap: 0.625rem;
        }

        .account {
          padding: 0.875rem;
          font-size: 0.875rem;
          background-color: $light-color;
          color: $secondary-accent;
          text-align: center;

          @include breakpoint-up(smPhone) {
            padding: 1rem;
          }
          @include breakpoint-up(lgPhone) {
            padding: 1.125rem;
          }
          @include breakpoint-up(smDesktop) {
            font-size: 1.25rem;
          }

          &__icon {
            margin-right: 0.3125rem;
          }
        }
      }
    }
  }
}
