#footer-wrapper {
  background-color: #27381a;

  @include breakpoint-up(tablet) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.footer {
  position: relative;

  &__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 94px;
      left: 50%;
      transform: translateX(-50%);
      width: 368px;
      height: 368px;
      border: 1px solid rgba(223, 223, 212, 0.2);
      border-radius: 50%;

      @include breakpoint-up(tablet) {
        width: 568px;
        height: 568px;
        bottom: 194px;
      }
      @include breakpoint-up(mdDesktop) {
        width: 1024px;
        height: 1024px;
        bottom: 224px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      height: 600px;
      border: 1px solid rgba(223, 223, 212, 0.2);
      border-radius: 50%;

      @include breakpoint-up(tablet) {
        width: 1000px;
        height: 1000px;
      }
      @include breakpoint-up(mdDesktop) {
        width: 1670px;
        height: 1670px;
      }
    }
  }

  h1 {
    color: $white-color;
    font-size: 2rem;

    @include breakpoint-up(mdPhone) {
      font-size: 2.5rem;
    }
    @include breakpoint-up(tablet) {
      font-size: 3.5rem;
    }
    @include breakpoint-up(smDesktop) {
      font-size: 4rem;
    }
  }

  &__nav {
    a {
      display: block;
      color: $white-color;

      @include breakpoint-up(mdPhone) {
        font-size: 1.25rem;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__copyright {
    margin-top: 2rem;
    text-align: center;
    color: #636e72;
    font-size: 0.875rem;
    font-weight: weight(light);
  }
}
