.header {
  height: 100vh;
  position: relative;

  @include breakpoint-up(tablet) {
    height: auto;
  }
  @include breakpoint-up(mdDesktop) {
    height: 100vh;
  }
  @include breakpoint-up(lgDesktop) {
    height: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 350px;
    background-color: $primary-color;
    clip-path: polygon(0 230px, 100% 0, 100% 100%, 0 100%);

    @include breakpoint-up(smPhone) {
      width: 240px;
      height: 390px;
    }
    @include breakpoint-up(mdPhone) {
      width: 250px;
      height: 450px;
    }
    @include breakpoint-up(lgPhone) {
      width: 270px;
      height: 470px;
    }
    @include breakpoint-up(tablet) {
      clip-path: none;
      height: 100%;
    }
    @include breakpoint-up(smDesktop) {
      width: 370px;
    }
    @include breakpoint-up(mdDesktop) {
      width: 470px;
    }
  }
  // Navbar Section
  &__nav {
    padding-top: 2rem;
    padding-bottom: 3rem;

    @include breakpoint-up(mdDesktop) {
      padding-top: 3rem;
    }
    @include breakpoint-up(lgDesktop) {
      &.container {
        max-width: 1600px;
      }
    }

    &.open {
      .firstline {
        transform: rotate(45deg);
        background-color: $dark-color;
      }
      .secondline {
        transform: rotate(-45deg);
        background-color: $dark-color;
      }
    }

    .logo {
      margin-right: 55px;

      @include breakpoint-up(tablet) {
        position: relative;
        z-index: 3;
      }
      @include breakpoint-up(smDesktop) {
        margin-right: 110px;
      }
      @include breakpoint-up(mdDesktop) {
        margin-right: 130px;
      }

      a {
        font-family: $ff-secondary;
        font-size: 1.5rem;
        font-weight: weight(bold);
        color: $dark-color;

        @include breakpoint-up(tablet) {
          font-size: 2rem;
        }
      }
    }

    .social {
      margin-right: auto;

      &__link {
        margin-right: 48px;
        color: $secondary-accent;

        @include breakpoint-up(mdDesktop) {
          margin-right: 55px;
        }

        ion-icon {
          margin-right: 10px;

          @include breakpoint-up(mdDesktop) {
            margin-right: 15px;
          }
        }
      }
    }

    .burger {
      flex-direction: column;

      @include breakpoint-up(tablet) {
        position: relative;
        z-index: 3;
      }

      &__line {
        display: inline-block;
        width: 20px;
        height: 2px;
        background-color: $dark-color;
        transform-origin: 6px 1px;
        transition: all 0.3s ease-in-out;

        @include breakpoint-up(tablet) {
          width: 24px;
          background-color: $white-color;
          transform-origin: 7px 1px;
        }
        @include breakpoint-up(mdDesktop) {
          width: 32px;
          transform-origin: 8px 1px;
        }

        &.firstline {
          margin-bottom: 4px;

          @include breakpoint-up(tablet) {
            margin-bottom: 5px;
          }
          @include breakpoint-up(mdDesktop) {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  // Hero Section
  &__hero {
    position: relative;
    z-index: 1;

    @include breakpoint-up(tablet) {
      margin-top: 54px;
      padding-bottom: 54px;
    }

    div {
      max-width: 230px;

      @include breakpoint-up(lgPhone) {
        max-width: 270px;
      }
      @include breakpoint-up(tablet) {
        max-width: 380px;
      }
      @include breakpoint-up(lgDesktop) {
        max-width: 490px;
      }

      .title {
        font-weight: weight(semi-bold);
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;

        @include breakpoint-up(lgPhone) {
          font-size: 2.5rem;
        }
        @include breakpoint-up(tablet) {
          font-size: 3.5rem;
          margin-bottom: 7.125rem;
        }
        @include breakpoint-up(mdDesktop) {
          margin-bottom: 2.5rem;
        }
        @include breakpoint-up(lgDesktop) {
          font-size: 72px;
          margin-bottom: 5rem;
        }
      }

      .scroll {
        position: relative;
        margin-left: 1.25rem;
        font-size: 2rem;
        color: $primary-color;

        @include breakpoint-up(tablet) {
          margin-left: 2.5rem;
          font-size: 2.25rem;
        }

        ion-icon {
          position: absolute;
          transform: translateY(0);
          animation: arrowDropdown 1s infinite;
        }
      }
    }
  }
}

// animation
@keyframes arrowDropdown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(50%);
  }
}
