.header {
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 350px;
    background-color: $primary-color;
    clip-path: polygon(0 230px, 100% 0, 100% 100%, 0 100%);
  }
  // Navbar Section
  &__nav {
    padding-top: 2rem;
    padding-bottom: 3rem;

    .logo {
      a {
        font-family: $ff-secondary;
        font-size: 1.5rem;
        font-weight: weight(bold);
        color: $dark-color;
      }
    }

    .burger {
      flex-direction: column;

      &__line {
        display: inline-block;
        width: 20px;
        height: 2px;
        background-color: $dark-color;

        &.firstline {
          margin-bottom: 4px;
        }
      }
    }
  }

  // Hero Section
  &__hero {
    position: relative;
    z-index: 1;

    div {
      max-width: 230px;

      .title {
        font-weight: weight(semi-bold);
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
      }

      .scroll {
        margin-left: 1.25rem;
        font-size: 2rem;
        color: $primary-color;
      }
    }
  }
}
