.header {
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 350px;
    background-color: $primary-color;
    clip-path: polygon(0 230px, 100% 0, 100% 100%, 0 100%);

    @include breakpoint-up(smPhone) {
      width: 240px;
      height: 390px;
    }
    @include breakpoint-up(mdPhone) {
      width: 250px;
      height: 450px;
    }
    @include breakpoint-up(lgPhone) {
      width: 270px;
      height: 470px;
    }
  }
  // Navbar Section
  &__nav {
    padding-top: 2rem;
    padding-bottom: 3rem;

    &.open {
      .firstline {
        transform: rotate(45deg);
      }
      .secondline {
        transform: rotate(-45deg);
      }
    }

    .logo {
      a {
        font-family: $ff-secondary;
        font-size: 1.5rem;
        font-weight: weight(bold);
        color: $dark-color;
      }
    }

    .burger {
      flex-direction: column;

      &__line {
        display: inline-block;
        width: 20px;
        height: 2px;
        background-color: $dark-color;
        transform-origin: 6px 1px;
        transition: all 0.3s ease-in-out;

        &.firstline {
          margin-bottom: 4px;
        }
      }
    }
  }

  // Hero Section
  &__hero {
    position: relative;
    z-index: 1;

    div {
      max-width: 230px;

      @include breakpoint-up(lgPhone) {
        max-width: 270px;
      }

      .title {
        font-weight: weight(semi-bold);
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;

        @include breakpoint-up(lgPhone) {
          font-size: 2.5rem;
        }
      }

      .scroll {
        position: relative;
        margin-left: 1.25rem;
        font-size: 2rem;
        color: $primary-color;

        ion-icon {
          position: absolute;
          transform: translateY(0);
          animation: arrowDropdown 1s infinite;
        }
      }
    }
  }
}

// animation
@keyframes arrowDropdown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(50%);
  }
}
