.introduce {
  &__text {
    margin-bottom: 55px;

    .title {
      font-size: 32px;
      font-weight: weight(semi-bold);
      text-transform: capitalize;
      margin-top: 1rem;
      margin-bottom: 2rem;

      @include breakpoint-up(lgPhone) {
        font-size: 2.5rem;
      }
    }

    .desc {
      max-width: 270px;

      @include breakpoint-up(mdPhone) {
        font-size: 1.25rem;
      }
    }
  }

  &__btn {
    padding-bottom: 0;

    .btn {
      i {
        margin-left: 10px;
      }
    }
  }
}
