.portfolio {
  @include breakpoint-up(tablet) {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &__wrapper {
    .title {
      margin-top: 1rem;
      margin-bottom: 2rem;

      @include breakpoint-up(lgPhone) {
        font-size: 1.875rem;
      }
      @include breakpoint-up(tablet) {
        margin-bottom: 55px;
      }
    }

    .items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 2rem;

      @include breakpoint-up(tablet) {
        grid-gap: 2rem;
      }

      &__work {
        background-color: $primary-accent;
        padding: 1rem;

        @include breakpoint-up(lgPhone) {
          padding: 1.25rem;
        }

        &-title {
          margin-bottom: 0.625rem;

          @include breakpoint-up(lgPhone) {
            margin-bottom: 1rem;
            font-size: 1.25rem;
          }
        }

        &-desc {
          @include breakpoint-up(lgPhone) {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
