.showcase {
  position: relative;
  height: 55vh;
  background-color: $primary-color;
  overflow: hidden;

  @include breakpoint-up(smPhone) {
    height: 47vh;
  }
  @include breakpoint-up(tablet) {
    height: 30vh;
  }

  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    color: $white-color;
    transition: all 0.3s ease-in-out;
    user-select: none;

    @include breakpoint-up(tablet) {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    i {
      font-size: 8rem;
      margin-bottom: 1.25rem;

      @include breakpoint-up(tablet) {
        font-size: 9rem;
      }
    }

    h5 {
      color: $white-color;
      font-size: 1.25rem;
      font-weight: weight(bold);
      margin-bottom: 0.5rem;

      @include breakpoint-up(lgPhone) {
        font-size: 1.5rem;
      }
    }

    p {
      text-align: center;
      color: $light-color;

      @include breakpoint-up(lgPhone) {
        font-size: 1.25rem;
      }
    }
  }
}

.showcaseBtn {
  background-color: $primary-color;

  &__wrapper {
    padding-bottom: 55px;
    text-align: center;

    @include breakpoint-up(mdPhone) {
      padding-bottom: 75px;
    }

    .prevBtn,
    .nextBtn {
      border: none;
      background: none;
      outline: none;
      color: $white-color;
      font-size: 1.25rem;

      @include breakpoint-up(mdPhone) {
        font-size: 1.5rem;
      }
    }

    .prevBtn {
      margin-right: 1.25rem;
      color: #bbb;
    }
  }
}
