.showcase {
  position: relative;
  height: 270px;
  background-color: $primary-color;
  overflow: hidden;

  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    color: $white-color;
    transition: all 0.3s ease-in-out;
    user-select: none;

    i {
      font-size: 8rem;
      margin-bottom: 1.25rem;
    }

    h5 {
      font-size: 1.25rem;
      font-weight: weight(bold);
      margin-bottom: 0.5rem;
    }

    p {
      text-align: center;
      color: $light-color;
    }
  }
}

.showcaseBtn {
  background-color: $primary-color;

  &__wrapper {
    padding-top: 1rem;
    padding-bottom: 55px;
    text-align: center;

    .prevBtn,
    .nextBtn {
      border: none;
      background: none;
      color: $white-color;
      font-size: 1.25rem;
    }

    .prevBtn {
      margin-right: 1.25rem;
      color: #ccc;
    }
  }
}
