.showcase {
  position: relative;
  height: 55vh;
  background-color: $primary-color;
  overflow: hidden;

  @include breakpoint-up(smPhone) {
    height: 47vh;
  }
  @include breakpoint-up(tablet) {
    height: 30vh;
  }
  @include breakpoint-up(smDesktop) {
    height: 42vh;
  }
  @include breakpoint-up(mdDesktop) {
    height: 70vh;
  }
  @include breakpoint-up(lgDesktop) {
    height: 40vh;
  }

  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    color: $white-color;
    transition: all 0.3s ease-in-out;
    user-select: none;

    @include breakpoint-up(tablet) {
      padding-left: 6rem;
      padding-right: 6rem;
    }
    @include breakpoint-up(smDesktop) {
      padding-left: 10rem;
      padding-right: 10rem;
    }
    @include breakpoint-up(mdDesktop) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: calc((100vw - 1170px) / 2);
      padding-right: calc((100vw - 1170px) / 2);
    }

    .slide__icon {
      text-align: center;
    }

    i {
      font-size: 8rem;
      margin-bottom: 1.25rem;

      @include breakpoint-up(tablet) {
        font-size: 9rem;
      }
      @include breakpoint-up(smDesktop) {
        font-size: 16rem;
      }
    }

    h5 {
      color: $white-color;
      font-size: 1.25rem;
      font-weight: weight(bold);
      margin-bottom: 0.5rem;
      text-align: center;

      @include breakpoint-up(lgPhone) {
        font-size: 1.5rem;
      }
      @include breakpoint-up(smDesktop) {
        font-size: 3rem;
      }
    }

    p {
      text-align: center;
      color: $light-color;

      @include breakpoint-up(lgPhone) {
        font-size: 1.25rem;
      }
      @include breakpoint-up(smDesktop) {
        font-size: 2rem;
      }
      @include breakpoint-up(smDesktop) {
        text-align: left;
        width: 65%;
      }
    }
  }
}

.showcaseBtn {
  background-color: $primary-color;

  &__wrapper {
    padding-bottom: 55px;
    text-align: center;

    @include breakpoint-up(mdPhone) {
      padding-bottom: 75px;
    }
    @include breakpoint-up(mdDesktop) {
      margin: 0;
    }
    @include breakpoint-up(lgDesktop) {
      padding-bottom: 160px;
    }

    .prevBtn,
    .nextBtn {
      border: none;
      background: none;
      outline: none;
      color: $white-color;
      font-size: 1.25rem;

      @include breakpoint-up(mdPhone) {
        font-size: 1.5rem;
      }
      @include breakpoint-up(smDesktop) {
        font-size: 2.25rem;
      }
    }

    .prevBtn {
      margin-right: 1.25rem;
      color: #bbb;
    }
  }
}
