@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'modules/fonts';
@import 'modules/flexbox';
@import 'modules/buttons';

html {
	font: 400 13px $base_font_family;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $secondary;
	background-color: $black;
}

a {
	position: relative;
	color: $link;
	text-decoration: none;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -50%) rotateZ(-7deg);
		width: 0;
		height: 0;
		background-color: $red;
		transition: all 0.1s ease-in-out;
	}
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotateZ(7deg);
		width: 0;
		height: 0;
		background-color: $red;
		transition: all 0.1s 0.1s ease-in-out;
	}

	&:hover {
		&::after, &::before {
			width: 100%;
			height: 1px;
		}
	}
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.container--medium {
	max-width: 700px;

	@media #{$extra_large} {
		max-width: 700px;
	}
}