// DM Sans
@font-face {
    font-family: 'DM Sans';
    src: url('~assets/fonts/DMSans-Regular.woff2') format('woff2'),
        url('~assets/fonts/DMSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('~assets/fonts/DMSans-Medium.woff2') format('woff2'),
    url('~assets/fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans';
    src: url('~assets/fonts/DMSans-Bold.woff2') format('woff2'),
    url('~assets/fonts/DMSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// SF Mono
@font-face {
    font-family: 'SF Mono';
    src: url('~assets/fonts/SFMono-Regular.woff2') format('woff2'),
        url('~assets/fonts/SFMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Shirens
@font-face {
    font-family: 'Shirens';
    src: url('~assets/fonts/Shirens-Regular.woff2') format('woff2'),
        url('~assets/fonts/Shirens-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}