*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: $ff-primary;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
  color: $secondary-color;
}

p {
  color: $dark-color;
}

a {
  text-decoration: none;
}

// Utilities
.container {
  max-width: 1170px;
  margin: 0 auto;

  // with padding
  &--p {
    padding: 2rem;
  }
  &--px {
    padding: 0 2rem;
  }
  &--py {
    padding: 2rem 0;
  }
}

.flex {
  display: flex;

  // most flexbox property used
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-ai-c {
    align-items: center;
  }
}

.btn {
  border: none;
  border-radius: 12px;
  height: 64px;
  background-color: $primary-color;
  color: $light-color;
  font-family: $ff-primary;
  font-size: 1rem;
  font-weight: weight(medium);
  text-transform: capitalize;
}

.stage {
  position: relative;
  padding-left: 64px;
  font-size: 0.9375rem;
  font-weight: weight(semi-bold);
  color: $primary-color;
  text-transform: capitalize;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 48px;
    height: 2px;
    background-color: $primary-color;
  }
}

// hidding elements
.hide-for-mobile {
  @include breakpoint-down(phone) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(smDesktop) {
    display: none;
  }
}
