// Fonts
$primary-color: #bb662a;
$secondary-color: #0080bd;
$dark-color: #272727;
$light-color: #a69a91;
$white-color: #ffffff;

$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Bree Serif", serif;

$font-weight: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "bold": 700,
);
