// Fonts
$primary-color: #537636;
$primary-accent: #8bb865;
$secondary-color: #543b23;
$secondary-accent: #846954;
$dark-color: #1d140c;
$light-color: #dfdfd4;
$white-color: #ffffff;

$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Bree Serif", serif;

$font-weight: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);
